In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "vaccinationsdata.csv"
vaccination_df = pd.read_csv(csv_file)
vaccination_df.head()

,Date,MMWR_week,Location,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer,Distributed_Unk_Manuf,Dist_Per_100K,Distributed_Per_100k_12Plus,...,Administered_Dose1_Recip_5PlusPop_Pct,Series_Complete_5Plus,Series_Complete_5PlusPop_Pct,Administered_5Plus,Admin_Per_100k_5Plus,Distributed_Per_100k_5Plus,Series_Complete_Moderna_5Plus,Series_Complete_Pfizer_5Plus,Series_Complete_Janssen_5Plus,Series_Complete_Unk_Manuf_5Plus
0,01/21/2022,3,LA,7467120,318200,2957620,4191300,0,160625,190327,...,63.2,2390208.0,55.0,5865724.0,134927.0,171764.0,939747.0,1274979.0,174438.0,1044.0
1,01/21/2022,3,WA,16011165,734100,5776120,9500945,0,210261,246291,...,83.1,5298973.0,74.0,13190008.0,184259.0,223669.0,1853801.0,2999674.0,442148.0,3350.0
2,01/21/2022,3,CO,11371385,481900,4205300,6684185,0,197463,230374,...,81.6,3904471.0,72.0,9921557.0,182834.0,209551.0,1404341.0,2192272.0,305529.0,2329.0
3,01/21/2022,3,NV,5402390,255200,1851080,3296110,0,175393,206056,...,76.9,1786275.0,61.7,4525049.0,156328.0,186638.0,589391.0,1027647.0,169180.0,57.0
4,01/21/2022,3,HI,3148920,123800,1160860,1864260,0,222401,260003,...,89.7,1068153.0,80.3,2666120.0,200362.0,236645.0,357326.0,647324.0,63486.0,17.0

In [9]:
clean_df = vaccination_df[['Date', 'Location', 'Distributed']]
clean_df.head()

         Date Location  Distributed
0  01/21/2022       LA      7467120
1  01/21/2022       WA     16011165
2  01/21/2022       CO     11371385
3  01/21/2022       NV      5402390
4  01/21/2022       HI      3148920

In [11]:
clean_df = clean_df.rename(columns={'Location': 'State'})
clean_df.head()

         Date State  Distributed
0  01/21/2022    LA      7467120
1  01/21/2022    WA     16011165
2  01/21/2022    CO     11371385
3  01/21/2022    NV      5402390
4  01/21/2022    HI      3148920