In [10]:
# Import Dependencies
import pandas as pd 
from sqlalchemy import create_engine

In [2]:
# Create DF 
nyt_file = pd.read_csv("statesdata.csv")

In [17]:
# Display 
nyt_file.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [9]:
# Drop Column
nyt_df = nyt_file.drop(['fips'], axis=1)

In [20]:
# Method 1 - Filter dataframe
nyt_df = nyt_df[nyt_df['date'] < 2020-12-13]

# nyt_df.dropna()

TypeError: '<' not supported between instances of 'str' and 'int'

In [18]:
nyt_df.groupby(level="Washington")

ValueError: level name Washington is not the name of the index

In [12]:

connection_str = "postgres:postgres@localhost:5432/NYT_DB"
engine = create_engine(f"postgresql://{connection_str}")

In [13]:
nyt_df.to_sql('nyt_df', con=engine)