In [2]:
# Import Dependencies
import pandas as pd 
from sqlalchemy import create_engine

In [3]:
# Create DF 
nyt_file = pd.read_csv("statesdata.csv")

In [11]:
# Display 
nyt_file

             date          state  fips    cases  deaths
0      2020-01-21     Washington    53        1       0
1      2020-01-22     Washington    53        1       0
2      2020-01-23     Washington    53        1       0
3      2020-01-24       Illinois    17        1       0
4      2020-01-24     Washington    53        1       0
...           ...            ...   ...      ...     ...
38081  2022-01-21       Virginia    51  1451713   15853
38082  2022-01-21     Washington    53  1157473   10474
38083  2022-01-21  West Virginia    54   407131    5609
38084  2022-01-21      Wisconsin    55  1446213   11946
38085  2022-01-21        Wyoming    56   135369    1601

[38086 rows x 5 columns]

In [10]:
# Clean Data
nyt_file.dropna()

             date          state  fips    cases  deaths
0      2020-01-21     Washington    53        1       0
1      2020-01-22     Washington    53        1       0
2      2020-01-23     Washington    53        1       0
3      2020-01-24       Illinois    17        1       0
4      2020-01-24     Washington    53        1       0
...           ...            ...   ...      ...     ...
38081  2022-01-21       Virginia    51  1451713   15853
38082  2022-01-21     Washington    53  1157473   10474
38083  2022-01-21  West Virginia    54   407131    5609
38084  2022-01-21      Wisconsin    55  1446213   11946
38085  2022-01-21        Wyoming    56   135369    1601

[38086 rows x 5 columns]

In [5]:
# Drop Column
nyt_df = nyt_file.drop(['fips'], axis=1)

In [6]:
# Dropping dates before the vaccine (12-13-2020)
new_nyt_df = nyt_df[nyt_df['date'] < "2020-12-13"]
new_nyt_df

             date          state   cases  deaths
0      2020-01-21     Washington       1       0
1      2020-01-22     Washington       1       0
2      2020-01-23     Washington       1       0
3      2020-01-24       Illinois       1       0
4      2020-01-24     Washington       1       0
...           ...            ...     ...     ...
15684  2020-12-12       Virginia  278615    4409
15685  2020-12-12     Washington  207399    3043
15686  2020-12-12  West Virginia   62151     966
15687  2020-12-12      Wisconsin  465991    4329
15688  2020-12-12        Wyoming   38907     321

[15689 rows x 4 columns]

          date       state  cases  deaths
5   2020-01-25  California      1       0
8   2020-01-26     Arizona      1       0
9   2020-01-26  California      2       0
12  2020-01-27     Arizona      1       0
13  2020-01-27  California      2       0

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

NameError: name 'create_engine' is not defined